.StudentList {
  display: flex;
  flex-direction: row;
}

.Hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ProfilePic {
  align-self: center;
  justify-content: center;
  margin: 1em 2em;
}

.ProfilePic img {
  border-radius: 50%;
  border: .5px solid rgba(0,0,0,0.2);
  width: 150px;
}

.StudentInfo h1{
  font-size: 3em;
  font-style: bold;
  font-weight: 800;
  margin-top: 8px;
  margin-bottom: 10px;
}

.StudentInfo p{
  font-weight: 500;
  margin: 5px 1em;
  font-size: 1.25em;
}
